#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"

#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE 9, 1
#pragma code_page(1252)
#endif 

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE DISCARDABLE 
BEGIN
"resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
"#include ""afxres.h""\r\n"
"\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
"\r\n"
"\0"
END

#endif    



STRINGTABLE DISCARDABLE 
BEGIN
IDS_HELLO               "Hello from MFC!"
END

#endif



#ifndef APSTUDIO_INVOKED


#endif    
